.cart-page {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 0;
    height: calc(100vh - 17rem);
    overflow: auto;
}

.cart-items {
    /* max-height: 29rem; */
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    width: 20rem;
}

.card-items {
    /* border: 2px solid black; */
    background: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem
}

.card-items img {
    border: 2px solid orange;
    border-radius: 1rem;
    width: 3rem;
    aspect-ratio: 1/1;
}

.card-text {
    padding: 0 0.5rem;
}

.payment {
    border: 2px solid black;
    background-color: white;
    border-radius: 0.5rem;
}

.payment h5 {
    padding: 1rem;
    text-align: left;
}

.checkout-button {
    border: none;
    font-weight: 600;
    color: black;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 10rem;
    background-color: yellow;
}


@media (max-width:800px) {
    .cart-page {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 3rem 0;
        overflow-y: scroll;
    }

    .cart-items {
        /* min-height: 15rem; */
        display: flex;
        flex-direction: column;
        /* overflow-y: scroll; */
        width: 25.5rem;
    }

    .payment {
        margin-top: 1rem;
    }

    .checkout-button {
        border: none;
        font-weight: 600;
        color: black;
        margin-top: 0.5rem;
        border-radius: 0.5rem;
        padding: 0.5rem 10rem;
        background-color: yellow;
    }
}

@media (max-width:500px) {
    .cart-page {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 3rem 0;
        overflow-y: scroll;
    }

    .cart-items {
        /* min-height: 15rem; */
        display: flex;
        flex-direction: column;
        /* overflow-y: scroll; */
        width: 17rem;
    }

    .payment {
        margin-top: 1rem;
    }

    .checkout-button {
        border: none;
        font-weight: 600;
        color: black;
        margin-top: 0.5rem;
        border-radius: 0.5rem;
        padding: 0.5rem 5.5rem;
        background-color: yellow;
    }
}