.nav-container {
    display: flex;
    justify-content: space-between;
    /* backdrop-filter: blur(5px); */
}


.navbar-logo img {
    height: 80px;
    width: 80px;
}

.items {
    display: flex;
    align-items: center;
}

.items ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 1rem 2rem;
}

.nav-item a {
    font-weight: 600;
}

@media (max-width: 900px) {
    .nav-item {
        margin: 1rem 1rem;
    }
}

@media (max-width: 650px) {
    .nav-item {
        margin: 1rem 0.5rem;
    }
}